.custom-margin{
    margin-top:10%;
}
form{
    background-image: url("IMG_20200223_163904_209.jpg");
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}
body{
    background-image: url("IMG-20200912-WA0018.jpg");
    width:100%;
    height:100%;
}